<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="img/weather.png" type="image/x-icon">
  <link rel="stylesheet" href="css/main.min.css">
  <title>Weather: About</title>
</head>
<body>

  <div class="main-content">
  {{>head}}
  <p>This site was created by me (Ian Halstead). It uses data from mapbox.com and weatherstack.com. I followed Andrew Meads node js course to create the site</p>
  <img src="img/robot.png" class="robot">
  </div>



  {{>foot}}

</body>
</html>