<div class="alert-container" id="alert">
  <div class="alert">
    <h1 id="alert-title">TITLE</h1>
    <p id="alert-message">MESSAGE</p>
    <div id="close-alert">Close Message</div>
  </div>
</div>

<script src="js/alert.js"></script>
